$color-primario: #3935da;
$color-secundario:#2187d4ba;

*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color-primario;
    height: 80vh;
}
.contenedor{
    background-color: orange;
    color: red;
}