body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: orange;
    height: 80vh;
}
.contenedor{
    background-color: orange;
}